@font-face {
    font-family: Rubik-Bubbles;
    src: url(./Rubik_Bubbles/RubikBubbles-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #27272a;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#board-container {
    --board-dimension: min(90vh, 90vw);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: var(--board-dimension);
    height: var(--board-dimension);
    margin: min(5vw, 5vh);
    background-color: #fafafa;
    padding: 1em;
}

#board-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik-Bubbles;
    font-size: 5rem;
}

#board-container div:active {
    background-color: pink;
}

#board-container div[row="r1"] {
    border-top: 2px solid #171717;
    border-bottom: 2px solid #171717;
}

#board-container div[col="c1"] {
    border-left: 2px solid #171717;
    border-right: 2px solid #171717;
}