@font-face {
    font-family: Rubik-Bubbles;
    src: url(./Rubik_Bubbles/RubikBubbles-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #27272a;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

header {
}

#board-container {
    --board-dimension: min(90vh, 90vw);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: var(--board-dimension);
    height: var(--board-dimension);
    margin: min(5vw, 5vh);
    background-color: #fafafa;
    padding: 1rem;
}

#board-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik-Bubbles;
    font-size: 5rem;
}

#board-container div:active:not(.disabled) {
    background-color: #f87171;
}

#board-container div[row="r1"] {
    border-top: 2px solid #171717;
    border-bottom: 2px solid #171717;
}

#board-container div[col="c1"] {
    border-left: 2px solid #171717;
    border-right: 2px solid #171717;
}

#screen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3f3f46ee;
}

#screen.on {
    display: block;
}

#modal-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: min(340px, 80%);
    height: max(400px, 50%);
    transform: translate(-50%, -50%) scale(1);
    background-color: #111827;
    box-shadow: -10px -5px 5px black;
}

#modal-box > p {
    color: #fafafa;
    font-size: 2rem;
    justify-self: center;
}

#modal-box p.player-name {
    font-size: 2.5rem;
    white-space: nowrap;
    margin-bottom: 0;
}

#modal-box.on {
    /*
    display: flex;
    flex-direction: column;
    */
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-around;
}

button {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #d4d4d8;
    border-radius: 0.5rem;
    border: 1px solid #e4e4e7;
}

button:active {
    box-shadow: inset 1px 1px 2px black;
    border: 1px solid #e4e4e7;
}

button p {
    color: #18181b;
    margin: 0;
    font-size: 1.5rem;
    flex: 1;
    margin-left: 1rem;
}

#modal-box #close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem;
    margin-bottom: 1rem;
}